# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/
build/

# Testing
coverage/

# Production / cache
*.tsbuildinfo
.eslintcache

# Environment variables (simpan secret di Vercel, jangan di repo)
.env
.env.*
!.env.example

# Vercel
.vercel

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
._*
__MACOSX/
Thumbs.db
Desktop.ini

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp

# Misc
*.pem
*.log